.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose__seat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
