* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 600;
  font-size: 1.6rem;
  color: #555;
}

*:focus {
  outline: none;
}

.container {
  max-width: 120rem;
  margin: 2rem auto;
  padding: 2rem 6rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 9px rgb(0, 0, 0, 0.3);
}

.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-radius: 2rem;
  box-shadow: 2px 2px 9px rgb(0, 0, 0, 0.3);
}

.btn {
  padding: 3rem;
  border: none;
  border-radius: 19px;
  background-color: #e67700;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 2px 2px 9px rgb(0, 0, 0, 0.3);
}

.title {
  display: inline-block;
  padding: 2rem 4rem;
}

/* @media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 56em) {
  .user {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }

  .user .choose {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .booking {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .booking button {
    grid-column: 1/-1;
    padding: 3rem;
  }
}
